.headliner{
    display: flex;
    padding: 1%;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-decoration: none;
    color: #02131F;
    box-shadow: 0px 1px 0px #02131f3b;
}
.headlink{
    color: #02131F;
    text-decoration: none;
}
.headlink:hover{
    font-weight: bold;
}